.genre-name {
	border: 0;
	border-left: 1px solid black;
	border-bottom: 1px solid black;
	padding: 4px;
	font-size: 16px;
	margin-top: 50px;
}
.genre-button {
	border-radius: 20%;
	background-color: lightgray;
	margin: 20px;
	width: 40%;
	height: 100%;
	font-size: 18px;
}
